.style-guide{
	header{
		background: #24d3f9;
		padding: rem(70);
		color: #fff;
	}
	main{
		margin-top: 30px;
		.grid-holder{
			[class*="col-"]{
				div{
					background-color: #e7e9eb;
					min-height: 100px;
				}
			}
			.tablet-grid{
				max-width: 768px;
			}
		}
		.clr-palette-holder{
			.clr{
				height: 64px;
				width: 64px;
				border-radius: 50%;
				display: block;
				background-color: red;
			}
			p{
				margin-bottom: 0;
			}
			.col-md-3{
				margin-bottom: rem(30);
			}
		}
		section{
			margin-bottom: rem(30);
		}
		.fa{
			font-size: rem(35);
		}
		.lnr{
			font-size: rem(35);
		}
	}
}