//unchange -> color, font-weight, font-familymontserrat
$typo-look: ($montserrat, 900, #333) ($montserrat, $roboto-light, #333) ($montserrat, $roboto-light, red) ($montserrat, $roboto-bold, #333) ($montserrat, $roboto-regular, #333) ($montserrat, $roboto-regular, #333);

@each $font-family, $font-weight, $color in $typo-look {
	$i: index(($typo-look), ($font-family, $font-weight, $color));
	h#{$i}, .h#{$i} {
		font-family: $font-family;
		font-weight: $montserrat-extrabold;
		color: $heading-color;
	}
}

// change -> font-size, line height, margin
$typo-size: (rem(55), 1) (rem(42), 1) (rem(25), 1) (rem(20), 1.3) (rem(16), 1.2) (rem(15), 1.2);

@each $font-size, $line-height in $typo-size {
	$i: index(($typo-size), ($font-size, $line-height));
	h#{$i}, .h#{$i} {
		font-size: $font-size;
		line-height: $line-height;
		margin-bottom: rem(25);
	}
}

p, .body-copy{
	font-size: rem(16);
	margin-bottom: rem(25);
	line-height: 1.5;
}
.text-large{
	font-size: rem(18);
	margin-bottom: rem(20);
}
.text-small{
	font-size: rem(14);
	margin-bottom: rem(1);
}
h2{
	@include media-breakpoint-down(md){
		font-size: 35px;
	}
	@include media-breakpoint-down(xs){
		font-size: 20px;
		line-height: 22px;
	}
}