// function Convert PX to REM
$baseFontSize: 16;
@function rem($pixels, $context: $baseFontSize) {
	@if (unitless($pixels)) {
		$pixels: $pixels * 1px;
	}

	@if (unitless($context)) {
		$context: $context * 1px;
	}

	@return $pixels / $context * 1rem;
}

// variables for fonts
$playfair-display: 'Playfair Display', serif;
$montserrat: 'Montserrat', sans-serif;


// Monsterrat font weight 
$montserrat-light: 300;
$montserrat-regular: 400;
$montserrat-medium: 500;
$montserrat-semibold: 600;
$montserrat-bold: 700;
$montserrat-extrabold: 800;
$montserrat-black: 900;

// roboto font weights
$roboto: 'Roboto', sans-serif;
$roboto-thin: 100;
$roboto-light: 300;
$roboto-regular: 400;
$roboto-medium: 500;
$roboto-bold: 700;
$roboto-black: 900;

// variables for colors

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$heading-color: #3e4555;

// looping for text color class
// $clrs: $gray-100 $gray-200 $gray-300 $gray-400;

// @for $i from 1 through length($clrs) {
//     .text-#{nth($clrs, $i)}{  
//       color: nth($clrs, $i);
//     }
// }

// general colors
// theme colors
