.btn{
	cursor: pointer;
	margin-bottom: rem(0);
	margin-right: rem(15);
	text-transform: capitalize;
	min-width: rem(120);
	font-size: rem(15);
	border-radius: rem(50);
	&.btn-primary{
		color: #333;
		border-color: #f8e438;
		background-color: #f8e438;
		&:hover{
			background-color: $white;
			color: $black;
			border-color: $white;
		}
	}
	&.orange-btn{
		background: #ff634f;
		color: $white;
		padding: 10px 35px;
		&:hover{
			background-color: $gray-900;
		}
	}
	&.pink-btn{
		background-color: #ff437d;
		color: $white;
		padding: 10px 35px;
		&:hover{
			background-color: $gray-900;
		}
	}
}


.feature-holder{
	.btn{
		margin-bottom: 20px;
	}
}