header{
	position: relative;
	.header-nav{
		position: absolute;
		width: 100%;
		top: 0;
		left: 0;
		min-height: 100px;
		padding: 0;
		.navbar-brand{
			width: rem(160);
		}
		.navbar-nav{
			.nav-item{
				margin-right: rem(20);
				.nav-link{
					color: $white;
					text-transform: capitalize;
					position: relative;
					z-index: 9;
					font-size: rem(15);
					&:after{
						width: 0;
						height: 2px;
						background-color: $white;
						left: 0;
						content: '';
						position: absolute;
						top: 19px;
						transition: all .5s;
					}
					&:hover{
						&:after{
							width: 100%;
						}
					}
				}
				// &.active{
				// 	.nav-link{
				// 		&:after{
				// 			height: 100%;
				// 		}
				// 	}
				// }
			}
		}
	}
}