.technologies-holder{
	.each-tecnology{
		background-color: $white;
		border-radius: 5px;
		background-color: $gray-100;
		padding: 25px 10px;
		text-align: center;
		box-shadow: 0 10px 60px 0 rgba(0, 0, 0, 0.1);
		-webkit-box-shadow: 0 10px 60px 0 rgba(0, 0, 0, 0.1);
		-moz-box-shadow: 0 10px 60px 0 rgba(0, 0, 0, 0.1);
		-o-box-shadow: 0 10px 60px 0 rgba(0, 0, 0, 0.1);
		-ms-box-shadow: 0 10px 60px 0 rgba(0, 0, 0, 0.1);
		margin-bottom: rem(30);
		p{
			font-size: rem(14);
		}
	}
}