.variation{
	padding-bottom: 25px;
&:last-child{
	border: 0px;
}
&:nth-child(4n){
	border: 0px;
}
span{
	&.lnr{
		font-size: rem(30);
	}
	&.numbers{
		background: #ff634f; /* Old browsers */
		background: -moz-linear-gradient(45deg, #ff634f 0%, #fb8879 41%, #fb35ca 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(45deg, #ff634f 0%,#fb8879 41%,#fb35ca 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(45deg, #ff634f 0%,#fb8879 41%,#fb35ca 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff634f', endColorstr='#fb35ca',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
		color: $white;
		font-weight: 600;    
		padding: 1px 6px;
		width: 45px;
		height: 45px;
		line-height: 42px;
		border-radius: 50%;
	    display: table;
	    text-align: center;
	}
}
h4{
	margin-bottom: 0px;
	line-height: rem(30);
	margin-top: rem(15);
}
}
.modal-variation-img-holder{
	margin-top: 60px;
}
.feature-holder1{
	background-image: url(../images/background.jpg);
	background-size: cover;
	background-position: left top;
	background-attachment: fixed;
	position: relative;
	@include media-breakpoint-down(sm){
		&:after{
			height: 100%;
			width: 100%;
			position: absolute;
			top: 0;
			left: 0;
			content: '';
			background-color: rgba(255, 255, 255, .9);
			z-index: 3;
		}
	}
	.container{
		position: relative;
		z-index: 5;
	}
}
.feature-holder{
	.pink-btn{
		@include-media-breakpoint-down(xs){
			margin-top: 20px;
		}
	}
}